<div class="menu" color="primary">
    <a id="logo" routerLink="/home">
        <img src="assets/images/logo200.png" alt="logo">
    </a>
    <nav class="navbar navbar-right">

        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/plants" routerLinkActive="active">Plants</a>
        
        <a routerLink="#" routerLinkActive="active">Discussions</a>

        <button *ngIf="!displayName" (click)="login()" class="btn btn-info">Login</button>

        <a routerLink="/user/garden" routerLinkActive="active" *ngIf="displayName">Garden</a>
        <a routerLink="/user/profile" routerLinkActive="active" *ngIf="displayName">Profile</a>

        <img class="profileImage" *ngIf="displayName" src='{{ photoURL }}'>        
        <button *ngIf="displayName" (click)="logout()">Logout</button>
    </nav>
</div>