.menu {
    position: fixed;
    top: 0;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    background-color: white;
}
nav {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    color: white;
    margin: 5px;
    text-decoration: none;
    
    margin-right: 10%;
}
#logo {
    margin-left: 10%;
}
#logo img {    
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}
nav a {
    color: #95CA3E;
    margin: 5px;
    text-decoration: none;
}
nav a:hover {
    color: #66B2F9;
    text-decoration: underline;
}
.profileImage{
    max-height: 50px;
    border-radius: 3px;
    margin-right: 10px;
}
.displayName{
    margin: 5px;
}
.active {
    color: darkgreen !important;
}
.active:hover {
    color: #66B2F9 !important;
}